[Desktop Entry]
Type=Service
Icon=computer
Name=Example
Comment=Yooo maaaaaaaannnnNN!!!!!

ServiceTypes=Plugintest/Plugin

X-KDE-PluginInfo-Author=Lukas Appelhans
X-KDE-PluginInfo-Email=l.appelhans@gmx.de
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Category=Service
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
X-KDE-Library=plugintest_exampleplugin
