<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE kpartgui SYSTEM "kpartguy.dtd">
<gui name="plugintest-capitalize" version="1">
  <MenuBar>
    <Menu name="edit">
      <Action name="capitalize_words" />
    </Menu>
</gui>
